* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.formLogin {
    margin-top: 5%;
    padding-right: 30%;
    margin-left: 30%;
}

.title {
    text-align: center;
    margin-top: 5%;
    text-decoration: underline;
    text-transform: uppercase;
}

.denied {
    color: red;
    text-align: center;
    justify-content: center;
}

.success {
    color: lime;
    text-align: center;
    justify-content: center;
}


input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.nav-item:hover .nav-link {
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2em;
  }
  
.navbar-toggler:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }

